@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
    width: 150px;
    height: 45px;
    background-color: blue;
    font-size: larger;
    color: white;
    border-radius: 5px;
}
.success {
    width: 150px;
    height: 45px;
    background-color: green;
    font-size: larger;
    color: white;
    border-radius: 5px;
}
.warning {
    width: 150px;
    height: 45px;
    background-color: orangered;
    font-size: larger;
    color: white;
    border-radius: 5px;
}
.danger {
    width: 150px;
    height: 45px;
    background-color: red;
    font-size: larger;
    color: white;
    border-radius: 5px;
}
.suc {
    width: 400px;
    height: 43px;
    border: 1px solid orangered;
    background: rgb(230, 213, 207);
    border-radius: 7px;
}
.info {
    width: 400px;
    height: 43px;
    border: 1px solid rgb(83, 83, 155);
    background: rgb(213, 236, 236);
    border-radius: 7px;
}
.warn {
    width: 400px;
    height: 43px;
    border: 1px solid yellow;
    background: rgb(249, 249, 221);
    border-radius: 7px;
}
.error {
    width: 400px;
    height: 43px;
    border: 1px solid red;
    background: rgb(227, 225, 225);
    border-radius: 7px;
}